<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Arquivos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Gerenciador de Arquivos</h1>
    <div class="forms">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="fileInput" id="fileInput" multiple>
            <label for="fileInput">Selecionar Arquivos</label>
            <button type="submit" id="uploadButton"></button>
            <label for="uploadButton">Enviar Arquivo</label>
        </form>
        <span id="file-chosen">Nenhum arquivo selecionado</span>
    </div>
    {% if username %}
    <p>Logado como: {{ username }} (<a href="{{ url_for('logout') }}">Sair</a>)</p>
    {% else %}
    <p><a href="{{ url_for('login') }}">Login</a></p>
    {% endif %}
    <hr>
    <ul id="fileList">
        {% for filename in files %}
            <li>
                <a target="_blank" href="{{ url_for('download_file', filename=filename) }}">{{ filename }}</a>
                {% if username %}
                <form method="post" action="{{ url_for('remove_file', filename=filename) }}">
                    <button type="submit">Remover</button>
                </form>
                {% endif %}
            </li>
        {%endfor%}
    </ul>
    <script src="{{ url_for('static', filename='client.js') }}"></script>
</body>
</html>