<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Arquivos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Gerenciador de Arquivos</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="fileInput" id="fileInput" multiple>
        <button type="submit" id="uploadButton">Enviar Arquivo</button>
    </form>
    <ul id="fileList"></ul>
    <script src="{{ url_for('static', filename='client.js') }}"></script>
</body>
</html>