{% extends "base.html" %}
{% block additional_styles %}
<style>
    form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
</style>
{% endblock %}
{% block content %}
<body>
    <h1>Login</h1>
    <form method="post" action="">
        <div>
            <label for="username">Usuário:</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
{% endblock %}